@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-style {
    @apply flex flex-col gap-1 min-w-64 -z-10 lg:min-w-72;
  }
  .contact-box {
    @apply flex flex-col items-center gap-2;
  }
  .Category-box {
    @apply flex flex-col gap-5 lg:w-full ;
  }
  .customer-box{
    @apply bg-primary min-w-full px-5 py-3 rounded-lg lg:min-w-[800px] lg:px-5 lg:pt-3 ;
      
    
  }
}

body {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger {
  position: relative;
  width: 40px;
  height: 4px;
  background: #1e1e1e;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  background: #1e1e1e;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: #ffffff;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: #ffffff;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;